@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

/* CSS Variables */

:root {

    /* Colour Variables */
    --gigmate-primary: hsla(245, 44%, 49%, 1);
    --gigmate-primary-overlay: hsla(245, 44%, 30%, 0.8);
    --gigmate-black: hsla(0, 0%, 13%, 1);
    --gigmate-black-shadow: hsla(0, 0%, 50%, 0.2);
    --gigmate-grey: hsla(0, 0%, 75%, 1);
    --gigmate-light-grey: hsla(0, 0%, 85%, 1);
    --gigmate-white: hsla(0, 0%, 98%, 1);

    /* Utility Variables */
    /* credit: code to adjust viewport height for Safari & Chrome mobile browsers. Fix found from: https://dev.to/maciejtrzcinski/100vh-problem-with-ios-safari-3ge9 */
    --app-height: 100%;
    --gigmate-border-radius: 10px;
}

html, body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--gigmate-white);
    overflow: hidden;
    width: 100vw;
    height: var(--app-height);
    position: relative;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--gigmate-white);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--gigmate-light-grey);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gigmate-grey);
}

/* Utility Styles */

.bg-purple {
    background-color: var(--gigmate-primary);
}

.rounded-corners {
    border-radius: var(--gigmate-border-radius);
    border: none;
}

.list-container {
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 80%;
    box-shadow: 0 0 50px 0 #fafafa inset;
}

.list-container::-webkit-scrollbar {
    display: none;
}

.list-group {
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
    border: none;
    min-width: 50%;
}

.btn-container {
    height: 20%;
}

.btn-clear {
    font-size: 2.5rem;
    border: none;
    background-color: transparent;
    color: var(--gigmate-black);
    transition: color .15s ease-in-out;
}

.btn-clear:focus,
.btn-clear:hover,
.btn-clear:focus-visible,
.btn-clear:focus-within {
    color: var(--gigmate-primary)
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}



/* Navbar Styles */

.navbar {
    background-color: var(--gigmate-white);
    height: 10%;
    box-shadow: 0 0px 10px 0 var(--gigmate-black-shadow);
    position: relative;
}

.navbar .container-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-brand:hover {
    color: var(--gigmate-primary);
}

.navbar a {
    font-weight: 500;
    color: var(--gigmate-black);
    text-decoration: none;
}

.navbar-toggler-icon i {
    color: black;
    font-size: 1.5rem;
}

.nav-link {
    border-radius: var(--gigmate-border-radius);
    background-color: transparent;
    transition: background-color .25s ease-in-out;
    margin: 0 .5rem;
}

@media (max-width: 992px) {
    .nav-link {
        text-indent: 1rem;
    }
}

.nav-link:focus, .nav-link:hover {
    color: var(--gigmate-white);
    background-color: var(--gigmate-primary);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.nav-link.active {
    color: var(--gigmate-white);
    background-color: var(--gigmate-primary);
}

.navbar-collapse {
    z-index: 1;
    background-color: var(--gigmate-white);
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
}

/* Header styling */

header {
    height: 10%;
    width: 100%;
}

/* Index.html */

#main-container {
    height: 75%;
    width: 100%;
    overflow: hidden;
}

#main-container .card {
    width: 50%;
    min-width: 250px;
    height: 20%;
    margin: 1rem;
    border-radius: var(--gigmate-border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
    transition: transform 0.15s ease-in-out;
    border: none;
}

#main-container .card::before {
    content: '';
    position: absolute;
    inset: 0 0;
    background-color: hsla(0, 0%, 13%, 0.5);
}

#main-container .card:hover,
#main-container .card:focus,
#main-container .card:focus-visible,
#main-container .card:focus-within       {
    transform: scale(102.5%, 102.5%);
}

#main-container .card:active {
    transform: scale(100%, 100%);
}

#main-container .card a {
    height: 100%;
    width: 100%;
}

#main-container .card a h2 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gigmate-white);
    letter-spacing: .15rem;
    position: absolute;
    bottom: 12.5px;
    left: 25px;
    z-index: 2;
}

#main-container .card.opposite a h2 {
    left: auto;
    right: 25px;
}

#main-container .card a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: multiply;
}

/* Setlists.html styling */

#setlistAccordion {
    align-self: center;
    justify-self: center;
}

/* Repertoire.html styling */

.content-container {
    height: 90%;
    position: relative;
    padding: 0;
}

.content-container header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--gigmate-white);
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}

.content-container > .with-search {
    height: 17.5%;
}

.content-container > .without-search {
    height: 10%;
}

.content-container header input {
    width: 500px;
    max-width: 80%;
}

.content-container #content-section {
    height: 80%;
    overflow: overlay;
    scroll-behavior: smooth;
}

.btn-card {
    background-color: var(--gigmate-white);
    border: none;
    border-radius: var(--gigmate-border-radius);
    transition: transform 0.15s ease-in-out;
    padding: 0;
    min-width: 18rem;
    width: 40rem;
}

.btn-card:hover, 
.btn-card:focus {
    transform: scale(102.5%, 102.5%);
}

.btn-card:focus-visible {
    outline-offset: 0.5rem;
    outline-color: var(--gigmate-black);
}

.btn-card:active {
    transform: scale(100%, 100%);
}

.card {
    border: none;
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
}

.card-title {
    margin: 0;
}

.gig-card {
    padding: 1rem 1rem;
}

.gig-card .gig-venue h3 {
    color: var(--gigmate-primary);
    text-align: start;
}

.gig-card .gig-artist p {
    color: var(--gigmate-black);
    font-style: italic;
    text-align: start;
}

.gig-card .gig-date p {
    background-color: var(--gigmate-primary);
}

.card .card-body {
    padding: 0;
}

.card .card-body button {
    border: none;
    color: var(--gigmate-grey);
    background-color: transparent;
    transition: color .15s ease-in-out;
}

.card .card-body button:hover,
.card .card-body button:focus,
.card .card-body button:focus-visible,
.card .card-body button:focus-within,
.card .card-body button:active {
    color: var(--gigmate-primary);
}

#btn-section {
    height: 10%;
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
    background-color: var(--gigmate-white);
}

#btn-section .btn-bottom {
    border: none;
    width: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--gigmate-grey);
    transition: color .15s ease-in-out, transform .15s ease-in-out;
    text-align: center;
}

#btn-section .btn-bottom:hover,
#btn-section .btn-bottom:focus {
    transform: scale(110%, 110%);
    color: var(--gigmate-primary);
}


/* Footer styling */

#main-footer {
    height: 5%;
    font-weight: 500;
    font-size: .9rem;
    background-color: var(--gigmate-white);
    color: var(--gigmate-black);
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
    isolation: isolate;
}

/* SVG CSS */

.custom-shape-divider-bottom-1632318604 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632318604 svg {
    position: relative;
    display: block;
    width: calc(232% + 1.3px);
    height: 350px;
}

.custom-shape-divider-bottom-1632318604 .shape-fill {
    fill: #4F46B3;
}