@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

/* CSS Variables */

:root {
    --gigmate-primary: hsla(245, 44%, 49%, 1);
    --gigmate-primary-overlay: hsla(245, 44%, 30%, 0.8);
    --gigmate-black: hsla(0, 0%, 13%, 1);
    --gigmate-black-shadow: hsla(0, 0%, 13%, 0.2);
    --gigmate-white: hsla(0, 0%, 98%, 1);
}

body {
     font-family: 'Manrope', sans-serif;
     background-color: var(--gigmate-white);
}

/* Navbar Styles */

.navbar {
    background-color: var(--gigmate-white);
    height: 10vh;
    box-shadow: 0 0px 10px 0 var(--gigmate-black-shadow);
    position: relative;
}

.navbar .container-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-brand:hover {
    color: var(--gigmate-primary);
}

.navbar a {
    font-weight: 500;
    color: var(--gigmate-black);
    text-decoration: none;
}

.navbar-toggler-icon i {
    color: black;
    font-size: 1.5rem;
}

.nav-link:focus, .nav-link:hover {
    color: var(--gigmate-primary);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.nav-link.active {
    color: var(--gigmate-primary);
    font-weight: 700;
}

.navbar-collapse {
    z-index: 1;
    background-color: var(--gigmate-white);
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }
}

/* Index.html */

#main-container {
    height: 85vh;
    width: 100%;
}

#main-container .card {
    width: 75%;
    height: 20%;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px 0 var(--gigmate-black-shadow);
}

#main-container .card::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--gigmate-primary-overlay);
}

/* Shows link titles */
#main-container .card::after {
    content: attr(data-link);
    font-size: 1rem;
    font-weight: 700;
    color: var(--gigmate-white);
    letter-spacing: .1rem;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#main-container .card a {
    height: 100%;
    width: 100%;
}

#main-container .card a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}